@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

/* Basic */

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #444;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 1.65em;
	}

	a {
		color: #383b43;
		text-decoration: none;
	}

		a:active, a:hover {
			text-decoration: underline;
		}

	strong, b {
		color: #474747;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #474747;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #858585;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major {
		text-align: center;
		margin-bottom: 4em;
	}

		header.major h2 {
			font-size: 3em;
			margin-bottom: 0.5em;
		}

		header.major p {
			font-size: 1.5em;
		}



/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon:active, .icon:hover {
			text-decoration: none;
		}

		.icon > .label {
			display: none;
		}

		.icon.rounded {
			background-color: #383b43;
			border-radius: 100%;
			color: #ffffff;
			display: inline-block;
			height: 3.25em;
			line-height: 3.25em;
			text-align: center;
			width: 3.25em;
		}

			.icon.rounded.big {
				font-size: 2.5em;
				margin-bottom: 0.5em;
			}

			.icon.rounded.color1 {
				background-color: #3cadd4;
			}

			.icon.rounded.color2 {
				background-color: #3c61d4;
			}

			.icon.rounded.color3 {
				background-color: #633cd4;
			}

			.icon.rounded.color4 {
				background-color: #af3cd4;
			}

			.icon.rounded.color5 {
				background-color: #d43cad;
			}

			.icon.rounded.color6 {
				background-color: #d43c61;
			}

			.icon.rounded.color7 {
				background-color: #d4633c;
			}

			.icon.rounded.color8 {
				background-color: #d4af3c;
			}

			.icon.rounded.color9 {
				background-color: #add43c;
			}

			.icon.rounded.color10 {
				background-color: #61d43c;
			}

			.icon.rounded.fa-twitter {
				background-color: #2daae4;
			}

			.icon.rounded.fa-facebook {
				background-color: #39599f;
			}

			.icon.rounded.fa-google-plus {
				background-color: #c91e1f;
			}

			.icon.rounded.fa-dribbble {
				background-color: #c4376b;
			}

			.icon.rounded.fa-tumblr, .icon.rounded.fa-linkedin {
				background-color: #31516a;
			}

			.icon.rounded.fa-rss {
				background-color: #f2600b;
			}






/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #3cadd4;
		border-radius: 30px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #51b6d9;
			text-decoration: none;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #2da2ca;
			text-decoration: none;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
			color: #474747 !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			.button.alt.icon:before {
				color: #858585;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #383b43;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			.button.special:hover {
				background-color: #444751;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			.button.special:active {
				background-color: #2c2f35;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #444 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}

/* Header */

	body.landing #header {
		background-color: rgba(31, 97, 141 , 0.75);
		left: 0;
		position: absolute;
		top: 0;
	}

		body.landing #header nav a {
			color: rgba(255, 255, 255, 0.5);
		}

	#header {
		background-color: #383b43;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 3em;
		line-height: 3em;
		width: 100%;
		z-index: 10000;
	}

		#header h1 {
			color: #ffffff;
			height: inherit;
			left: 3em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
		}

			#header h1 a {
				font-size: 1.25em;
			}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 3em;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					border-radius: 4px;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
				}

					#header nav > ul > li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #cdced0;
						display: inline-block;
						text-decoration: none;
					}

						#header nav > ul > li a:active, #header nav > ul > li a:hover {
							color: #ffffff;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li .button {
						background-color: #fff;
						color: #444 !important;
						height: 2.0em;
						line-height: 2.0em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}


/* Wrapper */

	.wrapper {
		padding: 6em 0em 4em;
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
		/* Style 3 Wrapper */
	}

		.wrapper.style1 {
			background-color: #F5F5F5;
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
		}

			.wrapper.style1 .box {
				background-color: #fff;
				padding: 3em 2.5em;
			}

				.wrapper.style1 .box h2, .wrapper.style1 .box h3, .wrapper.style1 .box h4, .wrapper.style1 .box h5, .wrapper.style1 .box h6 {
					color: #858585;
				}

		.wrapper.style2 .profiles {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
			margin-bottom: 4em;
			padding-top: 4em;
		}

		.wrapper.style2 .profile {
			margin-bottom: 2em;
			text-align: left;
		}

			.wrapper.style2 .profile img {
				border-radius: 50%;
				float: left;
				margin-bottom: 1em;
				margin-right: 1em;
			}

			.wrapper.style2 .profile h4 {
				margin-bottom: 0;
				margin-top: 1em;
			}

		.wrapper.style2 footer {
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}

			.wrapper.style2 footer p {
				margin-bottom: 3em;
			}

		.wrapper.style3 {
			background-color: #3cadd4;
			color: #ffffff;
		}

			.wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 p {
				color: #ffffff;
			}

			.wrapper.style3 input[type="text"],
			.wrapper.style3 input[type="password"],
			.wrapper.style3 input[type="email"],
			.wrapper.style3 select,
			.wrapper.style3 textarea {
				background-color: #fff;
				color: #444;
			}

@media (max-width: 1680px) {
	/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}
}

@media (max-width: 1280px) {
	

}

@media (max-width: 980px) {
	

/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	header.major h2 {
		font-size: 2.25em;
	}

	header.major p {
		font-size: 1.25em;
	}

/* Header */

	#skel-layers-wrapper {
		padding-top: 0;
	}

	#header {
		display: none;
	}

/* Banner */

	#banner {
		padding: 6em 0em 6em;
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

/* Layers */

	#navButton .toggle {
		text-decoration: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

		#navButton .toggle:before {
			content: "ïƒ‰";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#navButton .toggle:before {
			background: rgba(144, 144, 144, 0.65);
			border-radius: 4px;
			color: #fff;
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

	#navPanel {
		background: rgba(255, 255, 255, 0.975);
		color: #444;
		border-right: solid 1px rgba(144, 144, 144, 0.25);
		box-shadow: 0.5em 0 2em 0 rgba(0, 0, 0, 0.125);
	}

		#navPanel nav {
			padding: 0.5em 1.25em;
		}

			#navPanel nav ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#navPanel nav ul li {
					padding: 0;
				}

					#navPanel nav ul li:first-child a:not(.button), #navPanel nav ul li:first-child span:not(.button) {
						border-top: 0;
					}

					#navPanel nav ul li a.button, #navPanel nav ul li span.button {
						margin-top: 0.5em;
					}

					#navPanel nav ul li a:not(.button), #navPanel nav ul li span:not(.button) {
						border-top: 1px solid rgba(0, 0, 0, 0.125);
						display: block;
						padding: 0.75em 0;
						text-decoration: none;
					}

			#navPanel nav .button {
				width: 100%;
			}

/* Footer */

	#footer .copyright {
		margin-top: 0;
		text-align: center;
	}

	#footer .icons {
		text-align: center;
	}
}

@media (max-width: 736px) {
	
/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 8em 2em 8em;
	}

/* Wrapper */

	.wrapper {
		padding: 4em 0em 2em;
		/* Style 2 Wrapper */
	}

		.wrapper.style2 footer {
			width: 85%;
		}

/* Footer */

	#footer {
		padding: 4em 0em 2em;
	}

		#footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}
}

@media (max-width: 480px) {
/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	html, body {
		min-width: 320px;
	}

	body, input, select, textarea {
		font-size: 12pt;
	}

	header.major h2 {
		font-size: 2em;
		margin-bottom: 1em;
	}

/* List */

	ul.actions {
		margin: 0 0 2em 0;
	}

		ul.actions li {
			padding: 1em 0 0 0;
			display: block;
			text-align: center;
			width: 100%;
		}

			ul.actions li:first-child {
				padding-top: 0;
			}

			ul.actions li > * {
				width: 100%;
				margin: 0 !important;
			}

				ul.actions li > *.icon:before {
					margin-left: -2em;
				}

		ul.actions.small li {
			padding: 0.5em 0 0 0;
		}

			ul.actions.small li:first-child {
				padding-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		padding: 0;
	}

/* Banner */

	#banner {
		padding: 8em 2em 8em;
	}	

}

